body{
  font-family: 'Poppins';
  background-color: #F6EDE5;
}

.navbar-custom{
  margin: 0 30px;
}

.navbar-bg-custom{
  background-color: rgba(246, 237, 229, .75);
}

.nav-item{
  color: #2D3436;
  margin-left: 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}
/* end navbar */

.jumbotron-custom{
  height: 580px;
  width: 100%;
  background-image: url('../assets/images/landing-jumbotron.svg');
  background-size: cover;
  padding: 100px;
  background-attachment: fixed;
}

.title-jumbotron{
  font-size: 40px;
  font-weight: 800;
  width: 500px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 60px;
}

.btn-jumbotron{
  width: 150px;
  margin-top: 25px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border: 3px solid white;
  padding: 10px 0;
  font-weight: 700;
}
/* end jumbotron */

.section-about{
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.section-about .image-about{
  background-image: url('../assets/images/elipse-about.svg');
  background-size: contain;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: 0 -60px;
}

.section-about .content-text{
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-about .content-text .about-text{
  width: 650px;
  font-weight: 400;
  text-align: justify;
}

.section-about .content-text .about-text .title{
  display: flex;
  color: #203049;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: -25px;
}

.section-about .content-text .about-text .title span{
  margin-top: 10px;
}

.section-about .content-text .about-text .title .elipse-title{
  width: 40px;
  height: 40px;
  background-color: #BFE3F8;
  border-radius: 50%;
  margin-right: -22px;
}
/* end section about */

.section-events{
  height: 900px;
  background-image: url('../assets/images/elipse-left.svg'), url('../assets/images/elipse-right.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}
.section-events .button-find-more{
  margin: 0 auto;
  width: 230px;
  background-color: white;
  text-align: center;
  padding: 10px;
  font-size: 28px;
  color: #203049;
  border-radius: 30px;
  filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
  font-weight: 600;
}
.section-events .button-find-more:hover{
  cursor: pointer;
  background-color: rgb(172, 170, 170);
}

.section-events .title{
  padding-top: 68px;
  text-align: center;
  color: #203049;
}

.section-events .title .title-base{
  font-size: 34px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  margin-bottom: 10px;
}

.events-card{
  margin: 20px 80px;
  display: flex;
  align-items: center;
}

.events-card .swipe-left, .events-card .swipe-right{
  width: 80px;
  background-color: white;
  border-radius: 50%;
}

.events-card .swipe-left:hover, .events-card .swipe-right:hover{
  cursor: pointer;
  background-color: rgb(172, 170, 170);
}

.events-card .card-event-content{
  background-color: #203049;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.events-card .card-event-content .illustration{
  background-image: url('../assets/images/shape-card-events.svg');
  background-repeat: no-repeat;
  background-position: right;
  height: 100px;
  display: flex;
}

.events-card .card-event-content .title-event{
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 5px;
}
.events-card .card-event-content .publish{
  color: white;
  font-weight: 300;
  margin-bottom: 15px;
}
.events-card .card-event-content .description{
  color: #BCC1C7;
  font-weight: 400;
}
/* end section events */

.footer{
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #2030494D;
  margin: 0 100px;
}